$bg-g1: rgba(33, 30, 85, 1);
$bg-g2: rgba(24, 0, 44, 1);

// Neutral/Gray
$gray-400: rgba(189, 192, 186, 1);
$gray-500: rgba(182, 182, 182, 1);

// Warm Colors
$gold-400: rgba(218, 201, 166, 0.8);
$gold-500: rgba(218, 201, 166, 1);

$bronze-300: rgba(188, 159, 119, 0.3);
$bronze-600: rgba(188, 159, 119, 1);

// Black/White
$black: rgba(0, 0, 0, 1);
$black-20: rgba(0, 0, 0, 0.2);
$black-60: rgba(0, 0, 0, 0.6);

$white: rgba(255, 255, 255, 1);
$white-15: rgba(255, 255, 255, 0.15);
$white-30: rgba(255, 255, 255, 0.3);
$white-60: rgba(255, 255, 255, 0.6);

$transparent: rgba(0, 0, 0, 0);

// font-size
$logo-large: 96px;
$xl: 54px;
$l: 36px;
$m: 24px;
$n: 20px;
$d: 18px;
$s: 16px;
$xs: 14px;
