@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.home .design {
  .design_container {
    @include flex(row, nowrap, stretch, flex-start);
    margin-top: 100px;

    @include rwd-max(1024px) {
      @include flex(column-reverse, nowrap, stretch, flex-start);
      gap: 100px;
      margin-top: 50px;
    }

    .design_wrap {
      @include flex(column, nowrap, stretch, space-between);
      gap: 70px;
      flex-grow: 1;

      .design-item {
        @include flex(column, nowrap, center, space-between, 20px);
        opacity: 0;

        span {
          color: $gray-400;
          font-size: $n;
          text-align: center;
          line-height: $m;
        }

        span.name {
          font-size: $m;
        }

        @include rwd-max(1024px) {
          span {
            font-size: $d;
          }

          span.name {
            font-size: $n;
          }
        }
      }
    }

    .home-img_wrap {
      width: 40vw;

      @include rwd-max(1024px) {
        width: 100%;
        height: 500px;
      }

      .home-img {
        opacity: 1;
        background: url('/design.png') 50% 50% / cover no-repeat;
        height: 760px;
        transform: translate(100%);
      }
    }
  }
}
