@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.n-input {
  .n-input-wrapper {
    @include glass($black-20);
    padding: 0px 15px;
  }
}

.n-input .n-input__input-el,
.n-input .n-input__textarea-el {
  caret-color: rgba(218, 201, 166, 0.8) !important;
  color: rgba(218, 201, 166, 0.8) !important;
  font-size: $n;
  letter-spacing: 1px;
}

.n-select,
.n-base-select-menu {
  @include glass($black-20);
}

/* 被選中項目的背景色 */
.n-base-select-option.n-base-select-option--selected {
  background: $black-20 !important;
  color: $white !important;

  &:hover {
    background-color: $black-20 !important;
  }

  &::before {
    background-color: $black-20 !important;
  }
}
