@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.products-list_container {
  @include flex(column, nowrap, stretch, flex-start, 20px);
  flex-grow: 1;

  .search_container {
    @include flex(column, nowrap, flex-end, flex-start, 20px);
    opacity: 1;
    z-index: 100;

    .search_wrap {
      @include grid(250px, 20px, 0px);
      width: 100%;

      @include rwd-max(768px) {
        @include grid(300px, 20px, 0px);
      }

      .search-item {
        @include flex(column, nowrap, flex-start, flex-start);
        padding: 20px 0 0 0;

        @include rwd-max(768px) {
          padding: 10px 0;
        }

        .search-item-name {
          color: $white;
          padding-left: 2px;

          @include rwd-min(1920px) {
            font-size: $s;
          }
        }

        .n-input-number {
          width: 100%;
        }
      }
    }

    .action_wrap {
      @include frc;
      gap: 20px;

      @include rwd-max(1366px) {
        margin-top: 40px;
      }

      @include rwd-max(768px) {
        width: 100%;

        .btn {
          flex-grow: 1;
        }
      }

      .cancel {
        display: none;

        @include rwd-max(1366px) {
          display: flex;
        }
      }
    }

    @include rwd-max(1366px) {
      @include glass($purple-700);
      display: none;
      position: fixed;
      top: 90px;
      left: 0;
      width: 100vw;
      padding: 0 20px 20px 20px;
    }

    @include rwd-max(768px) {
      top: 82px;
      height: calc(100vh - 80px);
    }
  }

  .search-tab_wrap {
    @include frl;
    @include glass($black-05);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    height: 45px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: $white-15;

      span {
        color: $white;
      }
    }

    span {
      @include fcc;
      width: 100px;
      height: 45px;
      font-size: $d;
      transition: all 500ms ease;
    }

    svg {
      circle {
        fill: $white;

        transition: all 500ms ease;
      }
    }

    &.open {
      position: fixed;
      top: 110px;
      right: 0;
      display: none;
      color: $white;

      @include rwd-max(1366px) {
        display: flex;
      }
    }

    &.close {
      display: none;
      position: fixed;
      top: -50px;
      right: 0;

      @include rwd-max(1366px) {
        display: flex;
      }

      span {
        @include fcc;
        width: 60px;
        height: 45px;
        font-size: $d;
        color: $white;
        transition: all 500ms ease;
      }
    }
  }

  .products-list_wrap {
    @include flex(column, nowrap, center, flex-start, 30px);
    flex-grow: 1;
    padding: 20px 0;

    .products-list {
      @include grid(250px, 20px, 20px, 0.25fr);
      width: 100%;

      @include rwd-min(1920px) {
        @include grid(300px, 20px, 20px, 0.25fr);
      }

      @include rwd-max(1366px) {
        @include grid(250px, 20px, 20px, 1fr);
      }

      article {
        position: relative;

        .sold-out_wrap {
          background-color: $black-20;
          @include fcc;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 20;

          .sold-out {
            color: $white;
            font-size: $n;
          }
        }
      }
    }

    .product_wrap {
      @include flex(column, nowrap, stretch, flex-start, 10px);
      padding: 15px;
      cursor: pointer;

      .names {
        @include flex(column, nowrap, flex-start, flex-start);

        span {
          color: $gray-400;
          transition: all 500ms ease;
        }

        .name-main,
        .name-sub {
          display: block;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .name-main {
          font-size: $d;

          @include rwd-min(1920px) {
            font-size: $n;
          }
        }

        .name-sub,
        .category {
          font-size: $xxs;
          letter-spacing: 1px;

          @include rwd-max(1366px) {
            font-size: $xs;
          }

          @include rwd-min(1920px) {
            font-size: $xs;
          }
        }

        .category {
          align-self: flex-end;
        }
      }

      .product-image {
        width: 100%;
        height: 300px;
        opacity: 0.8;
        transition: all 500ms ease;

        @include rwd-max(1366px) {
          opacity: 1;
        }
      }

      .price_wrap {
        .price {
          font-size: $n;
          color: $gold-500;
          margin-right: 10px;
        }

        .price-unit {
          color: $gray-400;
        }
      }

      &:hover {
        .names span {
          color: $white;
        }

        .product-image {
          opacity: 1;
        }
      }
    }

    .n-pagination {
      margin-top: auto;
    }
  }
}
