@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.footer {
  @include flex(row, nowrap, center, flex-start);
  gap: 30px;
  width: 100vw;
  padding: 20px;
  background-color: $black-20;

  @include rwd-max(1024px) {
    @include flex(column, nowrap, center, flex-start, 20px);
    // padding: 30px 20px;
  }

  .footer_container {
    @include flex(row, nowrap, center, space-around);
    flex-grow: 1;

    .footer-main {
      @include flex(row, nowrap, center, center, 50px);

      .logo-mobile {
        display: none;
      }

      @include rwd-max(1024px) {
        @include flex(row, nowrap, center, flex-start, 30px);
      }

      @include rwd-max(768px) {
        gap: 40px;

        .logo-mobile {
          display: block;
        }

        .logo-small {
          display: none;
        }
      }
    }

    .icons {
      @include frc;
      gap: 20px;
    }

    @include rwd-max(1024px) {
      @include flex(column, nowrap, center, flex-start, 30px);
    }
  }

  .copy-right,
  .alert {
    @include fcc;
    color: $gray-500;
  }
}
