@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.page.forgot {
  @include fcc;

  .forgot_container {
    @include flex(column, nowrap, center, flex-start, 50px);

    .n-form {
      @include flex(column, nowrap, stretch, flex-start, 20px);
      width: 400px;

      @include rwd-max(768px) {
        width: 330px;
      }
    }

    .action_wrap {
      @include frc;
      gap: 20px;

      .btn {
        width: fit-content;
      }
    }

    .query-success {
      @include no-select();
      opacity: 0;
      display: block;
      letter-spacing: 1px;
      color: $white;
      text-shadow: 0 0 4px $sky-300, 0 0 4px $sky-300, 0 0 4px $sky-300;
      transition: all 500ms ease;

      &.active {
        opacity: 1;
      }
    }
  }
}
